{:mutators ["and-or", "gt-gte", "lt-lte", "true-false", "plus-mul", "swap-zero",
            "eq-noteq", "empty?-seq", "not-boolean", "replace-if-with-then"]
 :check-tests-are-valid false
 ;; should be valid path to file or to directory
 :path "./resources/testp/src/testp"
 ;; should be a valid path to file
 :run-tests "./scripts/lein_run.sh"
 ;; argument for run-tests script
 :run-tests-arg "./resources/testp"
 :output-html "./output.html"}